/* Font */

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

/* The images being animated */

img {
    display: block;
    margin: 0 auto;
    transition: 0.3s;
    width: 350px;
}

/* Title being guessed */

#title {
    font-size: 52px;
}

/* Available letters */

#bank {
    font-size: x-large;
}

/* Title */

nav {
    color: white;
    background: orange;
    background-color: orange;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

/* The popUp (background) */

#popUp {
    color: white;
    background: orange;
    background-color: orange;
    border-radius: 10px;
    border: 5px solid orange;
    text-align: center;
    display: none;
    z-index: 1;
    margin: 0 auto;
    top: 25%;
    width: 350px;
    height: 250px;
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 175px);
}

#popUp h2 {
    padding: 2px 16px;
}

#popUp #close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#popUp #close:hover,
#popUp #close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Replay (Play again) button */

#replay {
    color: white;
    background: orange;
    background-color: orange;
    visibility: hidden;
    font-size: medium;
    border-color: white;
    border-width: 5px;
    border-radius: 10px;
    padding: 15px 32px;
}

#replay:hover {
    background-color: darkorange;
    color: gainsboro;
}